.filterbar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.filterbar p {
    font-size: 23px;
    margin: 12px;
}

.filterbar-items {
    width: 96%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 600;
}

.filterbar-items ul {
    list-style: none;
    padding: 0;
    color: #b61515;
}

.filterbar-items ul li {
    display: inline;
    margin-right: 20px;
    width: 100px;
}

.form-select-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-select-container [type='text'] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    margin: 0 20px 0 5px;
}

.select select {
  margin: 0 0 0 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
}

.form-select-container form {
  margin-right: 15px;
}

.form-select-container form button {
  color: white;
  background-color: #b61515;
  border: none;
  padding: 10px 30px;
  font-size: 16px;
  border-radius: 9px;
  font-weight: 600;
}

.closeButton button {
  color: #b61515;
  background-color: white;
  border: none;
  padding: 10px 30px;
  font-size: 16px;
  border-radius: 9px;
  font-weight: 600;
}